extends baseEmail
block content 
    p Hi #{firstName},
        p Forgot your password? Submit a patch request with your new password and passwordConfirm to: #{url}.
        p (Website for this acton not yet implemented)
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset your password
        p If you did not forget your password, please ignore this email!