footer.footer
    .footer__logo
        img(src='/img/logo-green.png', alt='Natour logo')
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Become guide
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer__copyrigt &copy; by Jonas Schmedtmann. Feel free to use this project for your own purposes, except producing your own course or tutorials!